<h1> Please enter your name and email address</h1>

<%= form_for(@attendee) do |a| %>

  <div class="field">
    <%= a.label :name %><br />
    <%= a.text_field :name %>
  </div>

  <div class="field">
    <%= a.label :email %><br />
    <%= a.text_field :email %>
  </div>

   <div class="actions">
    <%= a.submit %>
  </div>
<% end %>


